


@media(max-width: 1024px)
{
    

#bandeaunav {
    width: auto;
    flex-direction: column;
    
}





.blockpage {

    width: auto;
    background-color: darkgrey;

}

h5 {
    font-size: 2em;
    text-align: center;
}

.intro {

    flex-direction: column;
    align-items: center;
}

.image1, .image2, .image3, .image4 {
    border: rgb(42, 44, 46) solid 8px;
    border-radius: 0 10px 100px 50px;
    display: none;
}











.paragraphe1, .blocktext2345
{
    width: 500px;
    height: 110px;
    text-align: justify;
     overflow: auto;
    
}



.container2345 {
    flex-direction: column;
    align-items: center;
}

.image_article img {
    display: none;
}





.titrefooter, .paragraphefooter {
    display: none;
}


.blocktext6{

    width: 50%;
    text-align: justify;


}


}






/* Mise en forme globale DEBUT */




body {
    
    font-family: 'Dancing Script', cursive, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: beige;
    color: rgb(77, 80, 83);
    font-weight: bold;
}


header, footer, .bandeaubas {
    font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;

}


article {                              /* balise commune aux pages html 2, 3, 4, 5 */ 

    padding: 0 100px 20px 100px;
}


a, a:hover, a:visited, a:active
{
	color: beige;
	text-decoration:none;
}

/* Mise en forme globale FIN */








/* Style du bandeau de navigation commun aux trois pages html DEBUT */

#bandeaunav {
    
    padding: 30px 100px 30px 30px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    

}

.nomprenom1 {

    text-transform: uppercase;
    padding-right: 400px;
}



/* Style du bandeau de navigation commun aux trois pages html FIN */ 








/* Style du bandeau page1 d'acceuil principal DEBUT */

.bandeaunp {  
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: url("../../HTML-TP1-artisan-IMAGES/curology.jpg");
    background-size: initial;
    background-repeat: no-repeat;
    

}


.nomprenom {
    
    padding-bottom: 10px;

}


.designerdechaises {
    
    padding: 50px;
    font-style: italic;
    
    
}



.nomprenom, .designerdechaises {

    font-size: 2em;
    text-align: center;

    
}


/*Style du bandeau page1 d'acceuil principal FIN*/







/*Style de la partie INTRODUCTION PAGE 1 DEBUT */


.intro {
 
margin: auto;
padding: 0 100px 0 100px;
display: flex;
margin-top: 50px;



}

.imageintro {
    border: rgb(42, 44, 46) solid 8px;
}





.paragraphe1 {

    margin-top: 60px;
    padding-right: 90px;
}


.blockintro {
    flex-wrap: wrap;
  


}


/* Style de la partie INTRODUCTION PAGE 1 FIN */











/*Style de la partie MES PRODUITS PAGE 1 début */


.produits {
    width: 1200px;
    margin: auto;
    padding: 0 100px 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    

}



.titre2 {
    
    padding: 30px;
    text-align: center;
    margin-top: 200px;
    font-size: 2em;

}





.pitch {
    padding-bottom: 100px;
    text-align: center;

}


.image1, .image2, .image3, .image4 {
    border: rgb(42, 44, 46) solid 8px;
    border-radius: 0 10px 100px 50px;


}




.image3, .image4 {
 
    margin: 50px 0 200px 0; 
}


h4 {
    text-align: center;
    padding: 20px 0 20px 0;
    font-size: 25px;
}







/*Style de la partie MES PRODUITS PAGE 1 FIN */






/*Style commun au page 2, 3, 4, 5 DEBUT */

.categorie_article {
    text-transform: uppercase;
    padding: 50px 0 0 100px;
}

.container2345 {
 display: flex;
 margin-top: auto;

}

.titre2345 {
    font-size: 2em;

}




.image_article img{
border: rgb(42, 44, 46) solid 8px;
width: 380px;
}


.images_mini {
    padding-right: 200px;
}

.images_mini img {

 width: 280px;
 height: 280px;  
 border: rgb(42, 44, 46) solid 4px;
}


/*Style comun au page 2, 3, 4, 5 FIN */







/* Style MENTIONS LÉGALES PAGE 6 DEBUT */

.titre6 {

    padding: 50px 0 0 200px;
    font-size: 2em;
    
}

.blocktext6 {

    padding: 0 500px 200px 200px;
}

/* Style MENTIONS LÉGALES PAGE 6 FIN */









/*Style du footer commun aux trois pages html DEBUT */


.footer {
    
    margin-top: 50px;
    padding: 50px;
    display: flex;
    background-color: rgb(42, 44, 46);
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    

    
}



   

.titrefooter {

    font-size: 2em;
    padding-bottom: 20px;
    text-align: center;
}

    
.paragraphefooter {

    margin: 0 300px 0 300px;
    font-size: 1em;
    text-align: center;
 
}



.mailto {

 
    margin-top: 50px;
    padding: 10px;
    border: white solid 2px;
    border-radius: 4px;
    font-weight: bold;
    

    
}


.logos {
  
    
    display: flex;
    margin-top: 10px;
}




/*Style du footer commun aux trois pages HTML FIN */








.bandeaubas {

    padding: 30px;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: white;
}